<div class="profile-container">
    <div class="profile-picture">
      <img src="{{ profilePicturePath }}" alt="Profile Picture">
    </div>
    <div class="profile-info">
      <h2>User's Username</h2>
      <p>Wins: {{ wins }} | Losses: {{ losses }}</p>
      <div class="gallery">
        <img src="{{ doodle1 }}" alt="Image 1">
        <img src="{{ doodle2 }}" alt="Image 2">
        <img src="{{ doodle3 }}" alt="Image 3">
        <img src="{{ doodle4 }}" alt="Image 4">
      </div>
    </div>
  </div>